POCInterfaces/obj/Debug/netcoreapp2.1/POCInterfaces.assets.cache
POCMain/obj/Debug/netcoreapp2.1/POCMain.assets.cache
POCMain/obj/Debug/netcoreapp2.1/POCMain.csprojAssemblyReference.cache
POCTestConsumer/obj/Debug/netcoreapp2.1/POCTestConsumer.csprojAssemblyReference.cache
