*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.assets.cache  

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
POCInterfaces/[Bb]in/
POCInterfaces/[Oo]bj/
POCMain/[Bb]in/
POCMain/[Oo]bj/
POCTestConsumer/[Bb]in/
POCTestConsumer/[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

